 # NYC Trip Fare

In [1]:
import pandas as pd
from datetime import timedelta
import numpy as np
from collections import defaultdict, deque

NYC = pd.read_csv('C:/Users/edoar/Downloads/NYC/NYC.csv', low_memory=False)
NYC.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [1]:
import pandas as pd
from datetime import timedelta
import numpy as np
from collections import defaultdict, deque

NYC = pd.read_csv('D:/informatica uni/Data Science Magistrale/foundations of CS/data.csv', low_memory=False)
NYC.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [3]:
pip install skimpy

Requirement already satisfied: skimpy in d:\anaconda\anaconda3\lib\site-packages (0.0.15)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: Pygments<3.0.0,>=2.10.0 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (2.15.1)
Requirement already satisfied: click<9.0.0,>=8.1.6 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (8.1.7)
Requirement already satisfied: ipykernel<7.0.0,>=6.7.0 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (6.28.0)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (1.26.4)
Requirement already satisfied: pandas<3.0.0,>=2.0.3 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (2.2.2)
Requirement already satisfied: polars<0.21,>=0.19 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (0.20.31)
Requirement already satisfied: pyarrow<17,>=13 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (14.0.2)
Requirement already satisfied: rich<14.0,>=10.9 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (13.3.5)
Requirement already satisfied: typeguard==4.2.1 in d:\anaconda\anaconda3\lib\site-packages (from skimpy) (4.2.1)
Requirement already satisfied: typing-extensions>=4.10.0 in d:\anaconda\anaconda3\lib\site-packages (from typeguard==4.2.1->skimpy) (4.11.0)
Requirement already satisfied: colorama in d:\anaconda\anaconda3\lib\site-packages (from click<9.0.0,>=8.1.6->skimpy) (0.4.6)
Requirement already satisfied: comm>=0.1.1 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.1)
Requirement already satisfied: debugpy>=1.6.5 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (1.6.7)
Requirement already satisfied: ipython>=7.23.1 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (8.25.0)
Requirement already satisfied: jupyter-client>=6.1.12 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (8.6.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (0.1.6)
Requirement already satisfied: nest-asyncio in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (1.6.0)
Requirement already satisfied: packaging in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (23.2)
Requirement already satisfied: psutil in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.9.0)
Requirement already satisfied: pyzmq>=24 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (25.1.2)
Requirement already satisfied: tornado>=6.1 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (6.4.1)
Requirement already satisfied: traitlets>=5.4.0 in d:\anaconda\anaconda3\lib\site-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.14.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\anaconda3\lib\site-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\anaconda3\lib\site-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\anaconda3\lib\site-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2023.3)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in d:\anaconda\anaconda3\lib\site-packages (from rich<14.0,>=10.9->skimpy) (2.2.0)
Requirement already satisfied: decorator in d:\anaconda\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (5.1.1)
Requirement already satisfied: jedi>=0.16 in d:\anaconda\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.18.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in d:\anaconda\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (3.0.43)
Requirement already satisfied: stack-data in d:\anaconda\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.0)
Requirement already satisfied: platformdirs>=2.5 in d:\anaconda\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel<7.0.0,>=6.7.0->skimpy) (3.10.0)
Requirement already satisfied: pywin32>=300 in d:\anaconda\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel<7.0.0,>=6.7.0->skimpy) (305.1)
Requirement already satisfied: mdurl~=0.1 in d:\anaconda\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich<14.0,>=10.9->skimpy) (0.1.0)
Requirement already satisfied: six>=1.5 in d:\anaconda\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=2.0.3->skimpy) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in d:\anaconda\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.8.3)
Requirement already satisfied: wcwidth in d:\anaconda\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.5)
Requirement already satisfied: executing in d:\anaconda\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.8.3)
Requirement already satisfied: asttokens in d:\anaconda\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (2.0.5)
Requirement already satisfied: pure-eval in d:\anaconda\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.2)

In [4]:
from skimpy import skim

In [5]:
skim(NYC)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                 Data Types                                                                │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                         │
│ ┃ dataframe         ┃ Values  ┃ ┃ Column Type ┃ Count ┃                                                         │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                         │
│ │ Number of rows    │ 6405008 │ │ float64     │ 13    │                                                         │
│ │ Number of columns │ 18      │ │ string      │ 3     │                                                         │
│ └───────────────────┴─────────┘ │ int32       │ 2     │                                                         │
│                                 └─────────────┴───────┘                                                         │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┳━━━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━┳━━━━━━━┳━━━━━━┳━━━━━━┳━━━━━━━━┳━━━━━━━━┓  │
│ ┃ column_name           ┃ NA     ┃ NA %  ┃ mean   ┃ sd      ┃ p0     ┃ p25   ┃ p50  ┃ p75  ┃ p100   ┃ hist   ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━╇━━━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━╇━━━━━━━╇━━━━━━╇━━━━━━╇━━━━━━━━╇━━━━━━━━┩  │
│ │ VendorID              │  65441 │  1.02 │   1.67 │  0.4703 │      1 │     1 │    2 │    2 │      2 │ ▃    ▇ │  │
│ │ passenger_count       │  65441 │  1.02 │  1.515 │   1.152 │      0 │     1 │    1 │    2 │      9 │  ▇▂▁   │  │
│ │ trip_distance         │      0 │     0 │   2.93 │   83.16 │ -30.62 │  0.96 │  1.6 │ 2.93 │ 210200 │   ▇    │  │
│ │ RatecodeID            │  65441 │  1.02 │   1.06 │  0.8118 │      1 │     1 │    1 │    1 │     99 │   ▇    │  │
│ │ PULocationID          │      0 │     0 │  164.7 │   65.54 │      1 │   132 │  162 │  234 │    265 │ ▁▃▃▇▁▇ │  │
│ │ DOLocationID          │      0 │     0 │  162.7 │   69.91 │      1 │   113 │  162 │  234 │    265 │ ▁▃▂▇▁▇ │  │
│ │ payment_type          │  65441 │  1.02 │   1.27 │   0.474 │      1 │     1 │    1 │    2 │      5 │   ▇▃   │  │
│ │ fare_amount           │      0 │     0 │  12.69 │   12.13 │  -1238 │   6.5 │    9 │   14 │   4265 │    ▇   │  │
│ │ extra                 │      0 │     0 │  1.115 │    1.26 │    -27 │     0 │  0.5 │  2.5 │    113 │    ▇   │  │
│ │ mta_tax               │      0 │     0 │ 0.4923 │ 0.07374 │   -0.5 │   0.5 │  0.5 │  0.5 │   30.8 │   ▇    │  │
│ │ tip_amount            │      0 │     0 │  2.189 │    2.76 │    -91 │     0 │ 1.95 │ 2.86 │   1100 │   ▇    │  │
│ │ tolls_amount          │      0 │     0 │ 0.3488 │   1.767 │ -35.74 │     0 │    0 │    0 │  910.5 │   ▇    │  │
│ │ improvement_surcharge │      0 │     0 │  0.298 │ 0.03386 │   -0.3 │   0.3 │  0.3 │  0.3 │    0.3 │      ▇ │  │
│ │ total_amount          │      0 │     0 │  18.66 │   14.76 │  -1242 │ 11.16 │ 14.3 │ 19.8 │   4268 │    ▇   │  │
│ │ congestion_surcharge  │      0 │     0 │  2.276 │  0.7353 │   -2.5 │   2.5 │  2.5 │  2.5 │   2.75 │   ▁  ▇ │  │
│ └───────────────────────┴────────┴───────┴────────┴─────────┴────────┴───────┴──────┴──────┴────────┴────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name                         ┃ NA         ┃ NA %     ┃ words per row           ┃ total words        ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━┩  │
│ │ tpep_pickup_datetime                │          0 │        0 │                       2 │           12810016 │  │
│ │ tpep_dropoff_datetime               │          0 │        0 │                       2 │           12810016 │  │
│ │ store_and_fwd_flag                  │      65441 │     1.02 │                    0.99 │            6339567 │  │
│ └─────────────────────────────────────┴────────────┴──────────┴─────────────────────────┴────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

## 1.Extract all trips with trip_distance larger than 50

In [7]:
larger_trip = NYC[NYC['trip_distance'] > 50]
larger_trip

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
23842,2.0,2020-01-01 01:53:07,2020-01-01 03:54:41,1.0,52.30,5.0,N,262,265,1.0,300.00,0.00,0.0,61.78,6.12,0.3,370.70,2.5
39013,2.0,2020-01-01 02:05:07,2020-01-01 03:03:10,1.0,51.23,5.0,N,264,264,1.0,329.00,0.00,0.5,100.78,6.12,0.3,436.70,0.0
41620,1.0,2020-01-01 03:05:54,2020-01-01 04:16:26,1.0,53.80,5.0,N,132,265,1.0,250.00,0.00,0.0,53.35,16.62,0.3,320.27,0.0
58262,2.0,2020-01-01 05:36:12,2020-01-01 06:40:06,1.0,55.23,5.0,N,132,265,2.0,170.00,0.00,0.5,0.00,18.26,0.3,189.06,0.0
63024,2.0,2020-01-01 07:40:30,2020-01-01 08:40:01,1.0,54.19,5.0,N,132,265,1.0,230.00,0.00,0.0,0.00,12.24,0.3,242.54,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6326169,2.0,2020-01-31 22:47:26,2020-01-31 23:49:14,1.0,51.83,5.0,N,132,265,1.0,220.00,0.00,0.5,48.96,23.99,0.3,293.75,0.0
6331181,2.0,2020-01-31 23:45:36,2020-02-01 01:00:25,5.0,57.99,4.0,N,107,265,1.0,245.00,0.50,0.5,38.24,6.12,0.3,293.16,2.5
6333801,2.0,2020-01-31 23:24:16,2020-02-01 01:32:56,1.0,52.97,4.0,N,264,265,1.0,227.00,0.50,0.5,46.16,0.00,0.3,276.96,2.5
6397132,NaN,2020-01-28 11:54:00,2020-01-28 19:35:00,NaN,60.36,NaN,NaN,17,61,NaN,12.04,0.00,0.5,0.00,12.24,0.3,25.08,0.0
6398446,NaN,2020-01-28 07:37:00,2020-01-28 08:42:00,NaN,210240.07,NaN,NaN,76,231,NaN,37.77,2.75,0.5,0.00,0.00,0.3,41.32,0.0

## 2.Extract all trips where payment_type is missing

In [9]:
no_payment = NYC[NYC['payment_type'].isna()]
no_payment

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6339567,NaN,2020-01-01 08:51:00,2020-01-01 09:19:00,NaN,13.69,NaN,NaN,136,232,NaN,51.05,2.75,0.5,0.0,0.00,0.3,54.60,0.0
6339568,NaN,2020-01-01 08:38:43,2020-01-01 08:51:08,NaN,3.42,NaN,NaN,121,9,NaN,27.06,2.75,0.0,0.0,0.00,0.3,30.11,0.0
6339569,NaN,2020-01-01 08:27:00,2020-01-01 08:32:00,NaN,2.20,NaN,NaN,197,216,NaN,24.36,2.75,0.5,0.0,0.00,0.3,27.91,0.0
6339570,NaN,2020-01-01 08:46:00,2020-01-01 08:57:00,NaN,0.84,NaN,NaN,262,236,NaN,26.08,2.75,0.5,0.0,0.00,0.3,29.63,0.0
6339571,NaN,2020-01-01 08:21:00,2020-01-01 08:38:00,NaN,7.24,NaN,NaN,45,142,NaN,25.28,2.75,0.5,0.0,0.00,0.3,28.83,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.0,0.00,0.3,21.14,0.0
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.0,12.24,0.3,62.46,0.0
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.0,0.00,0.3,51.90,0.0
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.0,0.00,0.3,30.22,0.0
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.0,0.00,0.3,58.11,0.0

## 3.For each (PULocationID, DOLocationID) pair, determine the number of trips

In [11]:
n_trips = NYC.groupby(['PULocationID', 'DOLocationID']).size().reset_index(name='n_trips')
n_trips

       PULocationID  DOLocationID  n_trips
0                 1             1      638
1                 1            50        1
2                 1            68        1
3                 1           138        2
4                 1           140        1
...             ...           ...      ...
31272           265           259        2
31273           265           261        1
31274           265           263        4
31275           265           264      317
31276           265           265     2508

[31277 rows x 3 columns]

## 4.Save all rows with missing VendorID, passenger_count, store_and_fwd_flag, payment_type in a new dataframe called bad, and remove those rows from the original dataframe.

In [13]:
bad = NYC[NYC[['VendorID', 'passenger_count', 'store_and_fwd_flag', 'payment_type']].isna().any(axis=1)]
NYC = NYC.drop(bad.index)

In [14]:
# sistemato le date (non ho ricodificato le altre)
prova = NYC
prova['tpep_pickup_datetime'] = pd.to_datetime(NYC['tpep_pickup_datetime'])
prova['tpep_dropoff_datetime'] = pd.to_datetime(NYC['tpep_dropoff_datetime'])

## 5.Add a duration column storing how long each trip has taken (use tpep_pickup_datetime, tpep_dropoff_datetime)

In [16]:
prova['duration'] = (prova['tpep_dropoff_datetime'] - prova['tpep_pickup_datetime']).dt.total_seconds()
prova

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,288.0
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,445.0
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,371.0
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,291.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,138.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339562,2.0,2020-01-31 23:38:07,2020-01-31 23:52:21,1.0,2.10,1.0,N,163,246,1.0,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,854.0
6339563,2.0,2020-01-31 23:00:18,2020-01-31 23:19:18,1.0,2.13,1.0,N,164,79,1.0,13.0,0.5,0.5,3.36,0.0,0.3,20.16,2.5,1140.0
6339564,2.0,2020-01-31 23:24:22,2020-01-31 23:40:39,1.0,2.55,1.0,N,79,68,1.0,12.5,0.5,0.5,3.26,0.0,0.3,19.56,2.5,977.0
6339565,2.0,2020-01-31 23:44:22,2020-01-31 23:54:00,1.0,1.61,1.0,N,100,142,2.0,8.5,0.5,0.5,0.00,0.0,0.3,12.30,2.5,578.0
6339566,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,64.0

In [17]:
# c'è una riga che ha un errore nei tempi di pickup e dropoff (drop off two days earlier than pickup)
err_duration = prova[prova['duration'] < 0]
err_duration

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration
540040,1.0,2020-01-04 08:19:55,2020-01-02 10:09:33,1.0,3.5,1.0,N,107,237,1.0,16.5,2.5,0.5,4.95,0.0,0.3,24.75,2.5,-166222.0

## 6.For each pickup location, determine how many trips have started there.

In [19]:
n_started = prova.groupby('PULocationID').size().rename('n_started').to_frame()
n_started

              n_started
PULocationID
1                   753
2                     3
3                    70
4                  9902
5                    39
...                 ...
261               34229
262               85591
263              123997
264               43779
265                3090

[260 rows x 1 columns]

## 7.Cluster the pickup time of the day into 30-minute intervals (e.g. from 02:00 to 02:30)

In [21]:
prova['pickup_interval'] = pd.to_datetime(prova['tpep_pickup_datetime']).dt.floor('30min')
prova

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_interval
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,288.0,2020-01-01 00:00:00
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,445.0,2020-01-01 00:30:00
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,371.0,2020-01-01 00:30:00
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,291.0,2020-01-01 00:30:00
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,138.0,2020-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339562,2.0,2020-01-31 23:38:07,2020-01-31 23:52:21,1.0,2.10,1.0,N,163,246,1.0,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,854.0,2020-01-31 23:30:00
6339563,2.0,2020-01-31 23:00:18,2020-01-31 23:19:18,1.0,2.13,1.0,N,164,79,1.0,13.0,0.5,0.5,3.36,0.0,0.3,20.16,2.5,1140.0,2020-01-31 23:00:00
6339564,2.0,2020-01-31 23:24:22,2020-01-31 23:40:39,1.0,2.55,1.0,N,79,68,1.0,12.5,0.5,0.5,3.26,0.0,0.3,19.56,2.5,977.0,2020-01-31 23:00:00
6339565,2.0,2020-01-31 23:44:22,2020-01-31 23:54:00,1.0,1.61,1.0,N,100,142,2.0,8.5,0.5,0.5,0.00,0.0,0.3,12.30,2.5,578.0,2020-01-31 23:30:00
6339566,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,64.0,2020-01-31 23:00:00

## 8.For each interval, determine the average number of passengers and the average fare amount.

In [23]:
intervals = prova.groupby('pickup_interval')[['passenger_count', 'fare_amount']].mean().rename(
    columns={'passenger_count': 'average passenger count', 'fare_amount': 'average fare amount'})
intervals

                     average passenger count  average fare amount
pickup_interval
2003-01-01 00:00:00                 1.000000             0.000000
2008-12-31 23:00:00                 2.000000            18.857143
2008-12-31 23:30:00                 1.000000            22.666667
2009-01-01 00:00:00                 1.777778            25.166667
2009-01-01 00:30:00                 2.000000            24.250000
...                                      ...                  ...
2020-07-10 11:30:00                 1.000000             7.000000
2020-07-31 18:30:00                 1.000000             5.000000
2021-01-02 00:00:00                 1.000000            10.500000
2021-01-02 00:30:00                 1.000000            11.500000
2021-01-02 01:00:00                 1.000000            10.000000

[1539 rows x 2 columns]

## 9.For each payment type and each interval, determine the average fare amount

In [25]:
payments_intervals = prova.groupby(['pickup_interval', 'payment_type'])['fare_amount'].mean().reset_index().rename(
    columns={'fare_amount': 'average fare amount'})
payments_intervals

         pickup_interval  payment_type  average fare amount
0    2003-01-01 00:00:00           2.0                  0.0
1    2008-12-31 23:00:00           1.0                 13.5
2    2008-12-31 23:00:00           2.0                 26.0
3    2008-12-31 23:30:00           1.0                 52.0
4    2008-12-31 23:30:00           2.0                  8.0
...                  ...           ...                  ...
6007 2020-07-10 11:30:00           1.0                  7.0
6008 2020-07-31 18:30:00           2.0                  5.0
6009 2021-01-02 00:00:00           2.0                 10.5
6010 2021-01-02 00:30:00           2.0                 11.5
6011 2021-01-02 01:00:00           1.0                 10.0

[6012 rows x 3 columns]

## 10.For each payment type, determine the interval when the average fare amount is maximum

In [27]:
max_avg_fare = payments_intervals.loc[payments_intervals.groupby('payment_type')['average fare amount'].idxmax()]
max_avg_fare

         pickup_interval  payment_type  average fare amount
3    2008-12-31 23:30:00           1.0              52.0000
6    2009-01-01 00:00:00           2.0              26.4375
2946 2020-01-16 03:30:00           3.0              45.8000
4304 2020-01-23 05:00:00           4.0              83.8000
4020 2020-01-21 17:30:00           5.0               0.0000

## 11.For each payment type, determine the interval when the overall ratio between the tip and the fare amounts is maximum

In [29]:
prova['tip_ratio'] = prova['tip_amount'] / prova['fare_amount'].replace(0, pd.NA)
max_ratio = prova.groupby('payment_type')['tip_ratio'].idxmax()
max_ratio

payment_type
1.0    4062134.0
2.0    3670995.0
3.0     154780.0
4.0    5363312.0
5.0          NaN
Name: tip_ratio, dtype: float64

## 12.Find the location with the highest average fare amount

In [31]:
max_loc = prova.groupby(['PULocationID'])['fare_amount'].mean().reset_index().rename(
    columns={'fare_amount': 'average fare amount'}).idxmax().to_frame().T
max_loc

   PULocationID  average fare amount
0           259                  198

In [32]:
max_loc = prova.groupby('PULocationID')['fare_amount'].mean().idxmax()
max_loc

204

## 13.Build a new dataframe (called common) where, for each pickup location we keep all trips to the 5 most common destinations (i.e. each pickup location can have different common destinations).

In [34]:
# Group by pickup and drop-off locations and count occurrences
sum_dest = prova.groupby(['PULocationID', 'DOLocationID']).size().reset_index(name='count')
sum_dest

       PULocationID  DOLocationID  count
0                 1             1    636
1                 1            50      1
2                 1            68      1
3                 1           138      2
4                 1           140      1
...             ...           ...    ...
26451           265           259      1
26452           265           261      1
26453           265           263      4
26454           265           264    317
26455           265           265   2496

[26456 rows x 3 columns]

In [35]:
top5dest = (sum_dest
                    .sort_values(by=['PULocationID', 'count'], ascending=[True, False])
                    .groupby('PULocationID')
                    .head(5)
                    .reset_index(drop=True))
top5dest

      PULocationID  DOLocationID  count
0                1             1    636
1                1           264    105
2                1           265      4
3                1           138      2
4                1            50      1
...            ...           ...    ...
1255           265           265   2496
1256           265           264    317
1257           265             1     76
1258           265            48     18
1259           265           132      8

[1260 rows x 3 columns]

In [36]:
common = prova.merge(top5dest[['PULocationID', 'DOLocationID']], on=['PULocationID', 'DOLocationID'], how='inner')
common

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_interval,tip_ratio
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,...,3.0,0.5,1.47,0.0,0.3,11.27,2.5,288.0,2020-01-01 00:00:00,0.245
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,...,3.0,0.5,1.50,0.0,0.3,12.30,2.5,445.0,2020-01-01 00:30:00,0.214286
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,...,3.0,0.5,1.00,0.0,0.3,10.80,2.5,371.0,2020-01-01 00:30:00,0.166667
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,...,0.5,0.5,1.36,0.0,0.3,8.16,0.0,291.0,2020-01-01 00:30:00,0.247273
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,...,0.5,0.5,0.00,0.0,0.3,4.80,0.0,138.0,2020-01-01 00:00:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1956034,2.0,2020-02-01 00:00:37,2020-02-01 00:11:59,1.0,1.18,1.0,N,186,170,1.0,...,0.5,0.5,2.46,0.0,0.3,14.76,2.5,682.0,2020-02-01 00:00:00,0.289412
1956035,2.0,2020-01-31 22:59:01,2020-01-31 23:06:15,3.0,0.90,1.0,N,238,239,2.0,...,0.5,0.5,0.00,0.0,0.3,10.30,2.5,434.0,2020-01-31 22:30:00,0.0
1956036,2.0,2020-01-31 23:44:34,2020-01-31 23:47:46,3.0,0.80,1.0,N,141,141,2.0,...,0.5,0.5,0.00,0.0,0.3,8.30,2.5,192.0,2020-01-31 23:30:00,0.0
1956037,2.0,2020-01-31 23:01:38,2020-01-31 23:05:49,1.0,0.74,1.0,N,48,142,1.0,...,0.5,0.5,1.76,0.0,0.3,10.56,2.5,251.0,2020-01-31 23:00:00,0.352
1956038,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,64.0,2020-01-31 23:00:00,<NA>

## 14.On the common dataframe, for each payment type and each interval, determine the average fare amount

In [38]:
common_pay_int = common.groupby(['pickup_interval', 'payment_type'])['fare_amount'].mean().reset_index().rename(
    columns={'fare_amount': 'average fare amount 2'})
common_pay_int

         pickup_interval  payment_type  average fare amount 2
0    2003-01-01 00:00:00           2.0                   0.00
1    2008-12-31 23:00:00           1.0                   6.00
2    2008-12-31 23:30:00           2.0                   3.50
3    2009-01-01 00:00:00           2.0                   3.75
4    2009-01-01 00:30:00           2.0                  41.50
...                  ...           ...                    ...
5891 2020-03-25 18:30:00           1.0                   7.00
5892 2020-04-16 03:00:00           1.0                   5.50
5893 2020-05-07 10:30:00           1.0                  13.00
5894 2020-05-28 19:30:00           2.0                   6.50
5895 2020-07-10 11:00:00           1.0                   3.50

[5896 rows x 3 columns]

## 15.Compute the difference of the average fare amount computed in the previous point with those computed at point 9.

In [40]:
diff = pd.merge(common_pay_int, payments_intervals, on=['pickup_interval', 'payment_type'])
diff['difference'] = diff['average fare amount 2'] - diff['average fare amount']
diff[['pickup_interval','payment_type','difference']]

         pickup_interval  payment_type  difference
0    2003-01-01 00:00:00           2.0      0.0000
1    2008-12-31 23:00:00           1.0     -7.5000
2    2008-12-31 23:30:00           2.0     -4.5000
3    2009-01-01 00:00:00           2.0    -22.6875
4    2009-01-01 00:30:00           2.0     17.2500
...                  ...           ...         ...
5891 2020-03-25 18:30:00           1.0      0.0000
5892 2020-04-16 03:00:00           1.0      0.0000
5893 2020-05-07 10:30:00           1.0      3.5000
5894 2020-05-28 19:30:00           2.0      0.0000
5895 2020-07-10 11:00:00           1.0     -4.5000

[5896 rows x 3 columns]

## 16.Compute the ratio between the differences computed in the previous point and those computed in point 9. Note: you have to compute a ratio for each pair (payment type, interval).

In [43]:
diff['ratio'] = diff['difference']/diff['average fare amount']
diff[['pickup_interval','payment_type','ratio']]

         pickup_interval  payment_type     ratio
0    2003-01-01 00:00:00           2.0       NaN
1    2008-12-31 23:00:00           1.0 -0.555556
2    2008-12-31 23:30:00           2.0 -0.562500
3    2009-01-01 00:00:00           2.0 -0.858156
4    2009-01-01 00:30:00           2.0  0.711340
...                  ...           ...       ...
5891 2020-03-25 18:30:00           1.0  0.000000
5892 2020-04-16 03:00:00           1.0  0.000000
5893 2020-05-07 10:30:00           1.0  0.368421
5894 2020-05-28 19:30:00           2.0  0.000000
5895 2020-07-10 11:00:00           1.0 -0.562500

[5896 rows x 3 columns]

In [44]:
prova

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_interval,tip_ratio
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,...,3.0,0.5,1.47,0.0,0.3,11.27,2.5,288.0,2020-01-01 00:00:00,0.245
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,...,3.0,0.5,1.50,0.0,0.3,12.30,2.5,445.0,2020-01-01 00:30:00,0.214286
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,...,3.0,0.5,1.00,0.0,0.3,10.80,2.5,371.0,2020-01-01 00:30:00,0.166667
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,...,0.5,0.5,1.36,0.0,0.3,8.16,0.0,291.0,2020-01-01 00:30:00,0.247273
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,...,0.5,0.5,0.00,0.0,0.3,4.80,0.0,138.0,2020-01-01 00:00:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339562,2.0,2020-01-31 23:38:07,2020-01-31 23:52:21,1.0,2.10,1.0,N,163,246,1.0,...,0.5,0.5,2.96,0.0,0.3,17.76,2.5,854.0,2020-01-31 23:30:00,0.269091
6339563,2.0,2020-01-31 23:00:18,2020-01-31 23:19:18,1.0,2.13,1.0,N,164,79,1.0,...,0.5,0.5,3.36,0.0,0.3,20.16,2.5,1140.0,2020-01-31 23:00:00,0.258462
6339564,2.0,2020-01-31 23:24:22,2020-01-31 23:40:39,1.0,2.55,1.0,N,79,68,1.0,...,0.5,0.5,3.26,0.0,0.3,19.56,2.5,977.0,2020-01-31 23:00:00,0.2608
6339565,2.0,2020-01-31 23:44:22,2020-01-31 23:54:00,1.0,1.61,1.0,N,100,142,2.0,...,0.5,0.5,0.00,0.0,0.3,12.30,2.5,578.0,2020-01-31 23:30:00,0.0
6339566,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,1.0,0.00,1.0,N,193,193,1.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,64.0,2020-01-31 23:00:00,<NA>

## 17.Build chains of trips. Two trips are consecutive in a chain if (a) they have the same VendorID, (b) the pickup location of the second trip is also the dropoff location of the first trip, (c) the pickup time of the second trip is after the dropoff time of the first trip, and (d) the pickup time of the second trip is at most 2 minutes later than the dropoff time of the first trip.

In [47]:
from datetime import timedelta
import numpy as np
from collections import defaultdict, deque

In [48]:
df = prova.drop([ 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'payment_type', 'fare_amount',
                 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 
                 'congestion_surcharge', 'duration', 'pickup_interval','tip_ratio'], axis=1)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,PULocationID,DOLocationID
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,238,239
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,239,238
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,238,238
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,238,151
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,193,193
...,...,...,...,...,...
6339562,2.0,2020-01-31 23:38:07,2020-01-31 23:52:21,163,246
6339563,2.0,2020-01-31 23:00:18,2020-01-31 23:19:18,164,79
6339564,2.0,2020-01-31 23:24:22,2020-01-31 23:40:39,79,68
6339565,2.0,2020-01-31 23:44:22,2020-01-31 23:54:00,100,142
6339566,2.0,2020-01-31 23:19:37,2020-01-31 23:20:41,193,193

Hint: Add a column chain to the dataset. A chain can have more than two trips.

# Codice della Funzione

In [51]:
def identify_trip_chains1(df):
    
    df = df.sort_values(['VendorID', 'tpep_pickup_datetime']).reset_index(drop=True)
    df['chain'] = -1 

    time_threshold = pd.Timedelta(minutes=2)
    current_chain = 0

    
    for vendor_id, vendor_df in df.groupby('VendorID', sort=False):
        indices = vendor_df.index.values
        n = len(indices)
        pickup_times = vendor_df['tpep_pickup_datetime'].values
        dropoff_times = vendor_df['tpep_dropoff_datetime'].values
        PULocationIDs = vendor_df['PULocationID'].values
        DOLocationIDs = vendor_df['DOLocationID'].values
        chains = np.full(n, -1, dtype=int)

        active_chains = defaultdict(deque)
        chain_locations = {}

        for i in range(n):
            current_pickup = pickup_times[i]
            current_dropoff = dropoff_times[i]
            current_PULocationID = PULocationIDs[i]
            current_DOLocationID = DOLocationIDs[i]

            chain_list = active_chains[current_PULocationID]
            while chain_list and (current_pickup - chain_list[0][0]) > time_threshold:
                _, chain_id = chain_list.popleft()
                del chain_locations[chain_id]

            chain_found = False
            for idx, (dropoff_time, chain_id) in enumerate(chain_list):
                time_diff = current_pickup - dropoff_time
                if pd.Timedelta(0) < time_diff <= time_threshold:
                    chains[i] = chain_id
                    chain_found = True

                    chain_list.remove((dropoff_time, chain_id))
                    active_chains[current_DOLocationID].append((current_dropoff, chain_id))
                    chain_locations[chain_id] = (current_dropoff, current_DOLocationID)
                    break

            if not chain_found:
                current_chain += 1
                chains[i] = current_chain
                active_chains[current_DOLocationID].append((current_dropoff, current_chain))
                chain_locations[current_chain] = (current_dropoff, current_DOLocationID)

        df.loc[indices, 'chain'] = chains

    return df

###### Output VendorID = 1 (2'094'439 righe) (700 secondi 12 min) (864467 chain)

In [53]:
vendor1 = df[df['VendorID'] == 1]
vendor1

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,PULocationID,DOLocationID
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,238,239
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,239,238
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,238,238
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,238,151
9,1.0,2020-01-01 00:29:01,2020-01-01 00:40:28,246,48
...,...,...,...,...,...
6339543,1.0,2020-01-31 23:31:46,2020-01-31 23:41:29,100,233
6339544,1.0,2020-01-31 23:26:26,2020-01-31 23:48:26,79,48
6339550,1.0,2020-01-31 23:02:57,2020-01-31 23:15:20,230,236
6339551,1.0,2020-01-31 23:25:53,2020-01-31 23:35:44,237,140
6339552,1.0,2020-01-31 23:56:21,2020-02-01 00:09:46,161,7

In [54]:
vendor1_chains1 = identify_trip_chains1(vendor1)
vendor1_chains1.sort_values(['chain','tpep_pickup_datetime'])

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,PULocationID,DOLocationID,chain
0,1.0,2020-01-01 00:00:00,2020-01-01 00:13:03,68,170,1
538,1.0,2020-01-01 00:13:28,2020-01-01 00:31:48,170,239,1
1871,1.0,2020-01-01 00:31:54,2020-01-01 01:42:07,239,25,1
7336,1.0,2020-01-01 01:43:32,2020-01-01 01:43:32,25,264,1
1,1.0,2020-01-01 00:00:03,2020-01-01 00:13:04,79,162,2
...,...,...,...,...,...,...
2094426,1.0,2020-01-31 23:59:43,2020-02-01 00:05:27,90,68,864463
2094433,1.0,2020-01-31 23:59:54,2020-02-01 00:05:56,256,232,864464
2094434,1.0,2020-01-31 23:59:54,2020-02-01 00:03:18,107,170,864465
2094437,1.0,2020-01-31 23:59:59,2020-02-01 00:40:07,79,61,864466
2094438,1.0,2020-01-31 23:59:59,2020-02-01 00:10:56,107,263,864467

# Output sample da 1'000'000 righe (1900 secondi 32 min) (648411 chain)

In [56]:
sample_df = df.sample(n=1000000)
sample_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,PULocationID,DOLocationID
4829640,2.0,2020-01-25 00:19:05,2020-01-25 00:24:31,114,234
6275680,2.0,2020-01-31 19:22:48,2020-01-31 19:40:07,211,45
4663805,2.0,2020-01-24 11:31:05,2020-01-24 11:46:38,161,236
1089601,2.0,2020-01-07 11:22:28,2020-01-07 11:31:40,79,249
4503714,1.0,2020-01-23 17:38:53,2020-01-23 18:14:27,88,138
...,...,...,...,...,...
2686200,2.0,2020-01-14 20:21:46,2020-01-14 20:59:46,132,166
5221385,2.0,2020-01-26 21:55:52,2020-01-26 22:04:17,13,45
1221304,2.0,2020-01-07 22:31:19,2020-01-07 22:37:30,249,158
2534420,2.0,2020-01-14 08:35:22,2020-01-14 08:40:54,163,237
3971987,2.0,2020-01-21 09:58:01,2020-01-21 10:06:10,229,237

In [57]:
sample_df_chains = identify_trip_chains1(sample_df)
sample_df_chains.sort_values(['chain','tpep_pickup_datetime'])

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,PULocationID,DOLocationID,chain
0,1.0,2020-01-01 00:00:07,2020-01-01 00:03:26,75,75,1
1,1.0,2020-01-01 00:00:41,2020-01-01 00:16:23,90,4,2
2,1.0,2020-01-01 00:01:30,2020-01-01 00:07:32,42,152,3
3,1.0,2020-01-01 00:01:31,2020-01-01 00:10:24,263,41,4
4,1.0,2020-01-01 00:01:33,2020-01-01 00:28:57,132,71,5
...,...,...,...,...,...,...
999995,2.0,2020-02-01 00:15:23,2020-02-01 00:25:47,229,79,648407
999996,2.0,2020-05-07 10:44:29,2020-05-07 10:51:18,161,163,648408
999997,2.0,2020-07-10 10:46:19,2020-07-10 10:52:46,68,164,648409
999998,2.0,2020-07-10 11:25:13,2020-07-10 11:27:20,262,263,648410
999999,2.0,2020-07-10 11:34:11,2020-07-10 11:42:41,236,262,648411

# COMMENTO

In [59]:
def identify_trip_chains1(df):
    
    # Trova delle chain di viaggi a seconda che verifichino i seguenti vincoli:
    # a) il venditore è lo stesso 
    # b) la pickup location del secondo viaggio = drop off location del viaggio precedente
    # c) il pickup time del secondo viaggio deve essere successivo al drop off time del primo
    # d) il pickup time del secondo deve esssere max 2 minuti dopo il drop off time del primo
    
    # La funzione accetta come argomento il dataframe e restituisce il dataframe con l'aggiunta
    # della colonna chain
    
    
    # Prima si ordina il dataset per Vendor e Pickup time
    df = df.sort_values(['VendorID', 'tpep_pickup_datetime']).reset_index(drop=True)
    df['chain'] = -1  # Creazione nuova colonna 'chain' (il -1 indica che l'osservazione non appartiene a nessuna chain)

    time_threshold = pd.Timedelta(minutes=2) # la differenza di tempo massima tra i due trip 
    current_chain = 0 # inizio contatore per assegnare le chain

    # Si raggruppa per venditore (ciclo prima con tutti i vendor1 e poi tutti i vendor1, così da non 
    # controllare per i vendor 2 anche tutte le catene iniziate dai vendor1)
    for vendor_id, vendor_df in df.groupby('VendorID', sort=False): # sort = False perchè abbiamo già ordinato prima
        
        # Estraiamo le metriche necessarie per confrontare i viaggi come array tramite NumPy per ottimizzare i check
        indices = vendor_df.index.values
        n = len(indices)
        pickup_times = vendor_df['tpep_pickup_datetime'].values
        dropoff_times = vendor_df['tpep_dropoff_datetime'].values
        PULocationIDs = vendor_df['PULocationID'].values
        DOLocationIDs = vendor_df['DOLocationID'].values
        chains = np.full(n, -1, dtype=int) # array per memorizzare le chain (come la colonna chain, -1 indica che 
                                           # il trip non è stato assegnato ad una chain

        # Per ogni venditore, crea un dizionario dove le chiavi sono le Pickup location e i valori sono 'deque objects'
        # con dentro le info delle chain attive in quella location. (in pratica permette di controllare solo le chain con
        # la drop off location uguale alla pickup location)
        active_chains = defaultdict(deque)
        
        # Si crea un dizionario che ha come chiavi il numero della chain, e come valori le info sull'ultimo trip di 
        # quella chain. (in pratica, essendo i trip ordinati per pickup time, permetterà di eliminare le chain da 
        # prendere in considerazione se risultano più 'vecchie' di 2 minuti)
        chain_locations = {}

        # Per ogni trip, vengono estratte le metriche necessarie per confrontare l'i-esimo trip e le chain presenti in
        # active_chains
        for i in range(n):
            current_pickup = pickup_times[i]
            current_dropoff = dropoff_times[i]
            current_PULocationID = PULocationIDs[i]
            current_DOLocationID = DOLocationIDs[i]

            # Si comincia filtrando le chain che hanno come chiave (cioè drop off location) lo stesso valore della
            # pickup location del trip corrente (in questo modo si evita di controllare chain inutili)
            chain_list = active_chains[current_PULocationID]
            # Si continua rimuovendo le chain che hanno un drop off time troppo 'vecchio'
            while chain_list and (current_pickup - chain_list[0][0]) > time_threshold:
                # Estrae le chain_id delle chain 'vecchie' (.popleft() è fatto apposta per gli oggetti deques)
                _, chain_id = chain_list.popleft()
                # Si rimuove la chain dal dizionario
                del chain_locations[chain_id]

            # Si prova a cercare una chain valida per il trip corrente
            chain_found = False 
            # Si itera per tutte le chain recenti (time_diff <= minuti) con dropoff location = pickup location 
            # del trip corrente (enumerate prende anche l'index di chain_list che è la chain_id)
            for idx, (dropoff_time, chain_id) in enumerate(chain_list):
                time_diff = current_pickup - dropoff_time
                if pd.Timedelta(0) < time_diff <= time_diff:
                    # Se c'è un match allora si salva la chain_id
                    chains[i] = chain_id
                    chain_found = True

                    # Si rimuove la vecchia per aggiornare la chain
                    chain_list.remove((dropoff_time, chain_id))
                    # Si aggiorna il nuovo drop off time e la drop off location
                    active_chains[current_DOLocationID].append((current_dropoff, chain_id))
                    chain_locations[chain_id] = (current_dropoff, current_DOLocationID)
                    # Si chiude il loop appena aggiorna la chain
                    break  
            # Se non trova una chain, il trip corrente ne inizia una nuova
            if not chain_found:
                # Aggiorna il contatore per la chain_id
                current_chain += 1
                chains[i] = current_chain
                # Aggiunge la chain e le metriche per i confronti nei due dizionari
                active_chains[current_DOLocationID].append((current_dropoff, current_chain))
                chain_locations[current_chain] = (current_dropoff, current_DOLocationID)

        # L'array con le chain_id viene inserito nella colonna 'chain' del dataframe di partenza
        df.loc[indices, 'chain'] = chains

    return df