 # NYC Trip Fare

In [286]:
import pandas as pd
from datetime import timedelta

In [ ]:
#!pip install kaggle

In [ ]:
#!kaggle datasets download -d diishasiing/revenue-for-cab-drivers

In [ ]:
#import zipfile
#with zipfile.ZipFile('revenue-for-cab-drivers.zip', 'r') as zip_ref:
#    zip_ref.extractall('.')

In [ ]:
#df=pd.read_csv('data.csv') #low_memory=False

In [193]:
df=pd.read_csv("/Users/federicaromano/Desktop/università/1_Foundations of Computer Science/0PROGETTO/data.csv") #low_memory=False

/var/folders/r6/c6yvzsx90hs9_nxx95165twc0000gn/T/ipykernel_39589/2930098486.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/Users/federicaromano/Desktop/università/1_Foundations of Computer Science/0PROGETTO/data.csv") #low_memory=False

In [194]:
df.shape

(6405008, 18)

In [195]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

## 1.Extract all trips with trip_distance larger than 50

In [197]:
df[df['trip_distance']>50]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
23842,2.0,2020-01-01 01:53:07,2020-01-01 03:54:41,1.0,52.30,5.0,N,262,265,1.0,300.00,0.00,0.0,61.78,6.12,0.3,370.70,2.5
39013,2.0,2020-01-01 02:05:07,2020-01-01 03:03:10,1.0,51.23,5.0,N,264,264,1.0,329.00,0.00,0.5,100.78,6.12,0.3,436.70,0.0
41620,1.0,2020-01-01 03:05:54,2020-01-01 04:16:26,1.0,53.80,5.0,N,132,265,1.0,250.00,0.00,0.0,53.35,16.62,0.3,320.27,0.0
58262,2.0,2020-01-01 05:36:12,2020-01-01 06:40:06,1.0,55.23,5.0,N,132,265,2.0,170.00,0.00,0.5,0.00,18.26,0.3,189.06,0.0
63024,2.0,2020-01-01 07:40:30,2020-01-01 08:40:01,1.0,54.19,5.0,N,132,265,1.0,230.00,0.00,0.0,0.00,12.24,0.3,242.54,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6326169,2.0,2020-01-31 22:47:26,2020-01-31 23:49:14,1.0,51.83,5.0,N,132,265,1.0,220.00,0.00,0.5,48.96,23.99,0.3,293.75,0.0
6331181,2.0,2020-01-31 23:45:36,2020-02-01 01:00:25,5.0,57.99,4.0,N,107,265,1.0,245.00,0.50,0.5,38.24,6.12,0.3,293.16,2.5
6333801,2.0,2020-01-31 23:24:16,2020-02-01 01:32:56,1.0,52.97,4.0,N,264,265,1.0,227.00,0.50,0.5,46.16,0.00,0.3,276.96,2.5
6397132,NaN,2020-01-28 11:54:00,2020-01-28 19:35:00,NaN,60.36,NaN,NaN,17,61,NaN,12.04,0.00,0.5,0.00,12.24,0.3,25.08,0.0
6398446,NaN,2020-01-28 07:37:00,2020-01-28 08:42:00,NaN,210240.07,NaN,NaN,76,231,NaN,37.77,2.75,0.5,0.00,0.00,0.3,41.32,0.0

## 2.Extract all trips where payment_type is missing

In [199]:
df[df['payment_type'].isnull()]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6339567,NaN,2020-01-01 08:51:00,2020-01-01 09:19:00,NaN,13.69,NaN,NaN,136,232,NaN,51.05,2.75,0.5,0.0,0.00,0.3,54.60,0.0
6339568,NaN,2020-01-01 08:38:43,2020-01-01 08:51:08,NaN,3.42,NaN,NaN,121,9,NaN,27.06,2.75,0.0,0.0,0.00,0.3,30.11,0.0
6339569,NaN,2020-01-01 08:27:00,2020-01-01 08:32:00,NaN,2.20,NaN,NaN,197,216,NaN,24.36,2.75,0.5,0.0,0.00,0.3,27.91,0.0
6339570,NaN,2020-01-01 08:46:00,2020-01-01 08:57:00,NaN,0.84,NaN,NaN,262,236,NaN,26.08,2.75,0.5,0.0,0.00,0.3,29.63,0.0
6339571,NaN,2020-01-01 08:21:00,2020-01-01 08:38:00,NaN,7.24,NaN,NaN,45,142,NaN,25.28,2.75,0.5,0.0,0.00,0.3,28.83,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.0,0.00,0.3,21.14,0.0
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.0,12.24,0.3,62.46,0.0
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.0,0.00,0.3,51.90,0.0
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.0,0.00,0.3,30.22,0.0
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.0,0.00,0.3,58.11,0.0

## 3.For each (PULocationID, DOLocationID) pair, determine the number of trips

In [201]:
n_trips=df.groupby(['PULocationID','DOLocationID']).size()
n_trips=n_trips.sort_values(ascending= False)
n_trips

PULocationID  DOLocationID
237           236             45539
236           236             38775
              237             38264
237           237             33909
264           264             27928
                              ...
80            108                 1
9             70                  1
229           6                   1
163           245                 1
47            262                 1
Length: 31277, dtype: int64

## 4.Save all rows with missing VendorID, passenger_count, store_and_fwd_flag, payment_type in a new dataframe called bad, and remove those rows from the original dataframe.

In [203]:
bad=df
bad = bad[bad['VendorID'].isnull() & bad['passenger_count'].isnull() & bad['store_and_fwd_flag'].isnull() & bad['payment_type'].isnull()]
bad

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6339567,NaN,2020-01-01 08:51:00,2020-01-01 09:19:00,NaN,13.69,NaN,NaN,136,232,NaN,51.05,2.75,0.5,0.0,0.00,0.3,54.60,0.0
6339568,NaN,2020-01-01 08:38:43,2020-01-01 08:51:08,NaN,3.42,NaN,NaN,121,9,NaN,27.06,2.75,0.0,0.0,0.00,0.3,30.11,0.0
6339569,NaN,2020-01-01 08:27:00,2020-01-01 08:32:00,NaN,2.20,NaN,NaN,197,216,NaN,24.36,2.75,0.5,0.0,0.00,0.3,27.91,0.0
6339570,NaN,2020-01-01 08:46:00,2020-01-01 08:57:00,NaN,0.84,NaN,NaN,262,236,NaN,26.08,2.75,0.5,0.0,0.00,0.3,29.63,0.0
6339571,NaN,2020-01-01 08:21:00,2020-01-01 08:38:00,NaN,7.24,NaN,NaN,45,142,NaN,25.28,2.75,0.5,0.0,0.00,0.3,28.83,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.0,0.00,0.3,21.14,0.0
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.0,12.24,0.3,62.46,0.0
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.0,0.00,0.3,51.90,0.0
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.0,0.00,0.3,30.22,0.0
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.0,0.00,0.3,58.11,0.0

In [204]:
df=df.drop(bad.index)

In [205]:
df.reset_index()
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [206]:
df.shape

(6339567, 18)

## 5.Add a duration column storing how long each trip has taken (use tpep_pickup_datetime, tpep_dropoff_datetime)

In [208]:
df['tpep_pickup_datetime']=pd.to_datetime(df['tpep_pickup_datetime'],  format ='mixed')
df['tpep_dropoff_datetime']=pd.to_datetime(df['tpep_dropoff_datetime'],  format ='mixed')
df.dtypes

VendorID                        float64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                    float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [209]:
df['duration']=df['tpep_dropoff_datetime']-df['tpep_pickup_datetime']
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18

In [210]:
null_dur=df[df['duration']<timedelta(0)]
df=df.drop(null_dur.index)

In [211]:
df.reset_index()
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18

## 6.For each pickup location, determine how many trips have started there.

In [212]:
df.groupby('PULocationID').size().sort_values(ascending=False)

PULocationID
237    292467
161    281545
236    271999
162    235024
186    228231
        ...
105         2
245         1
30          1
204         1
172         1
Length: 260, dtype: int64

## 7.Cluster the pickup time of the day into 30-minute intervals (e.g. from 02:00 to 02:30)

In [214]:
df['clustered_pu_time']=(df['tpep_pickup_datetime'].dt.hour*60+df['tpep_pickup_datetime'].dt.minute)//30
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,clustered_pu_time
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,0
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,1
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,1
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,1
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,0

## 8.For each interval, determine the average number of passengers and the average fare amount.

In [216]:
df[df['total_amount']<0].shape

(19441, 20)

In [217]:
# Passo 1: Trova e salva gli indici delle righe modificate
negative_rows = df[df['total_amount'] <= 0]
modified_indices = negative_rows.index.tolist()

# Rendi positivi i valori negativi
df.loc[modified_indices] = df.loc[modified_indices].applymap(
    lambda x: abs(x) if isinstance(x, (int, float)) else x
)

# Passo 2: Elimina entrambe le righe duplicate
duplicated_rows = df[df.duplicated(keep=False)]
df = df.drop(duplicated_rows.index)

# Passo 3: Elimina le righe con indici in `modified_indices` che non sono già state eliminate
remaining_indices = set(modified_indices) - set(duplicated_rows.index)
df = df.drop(remaining_indices)

/var/folders/r6/c6yvzsx90hs9_nxx95165twc0000gn/T/ipykernel_39589/3547943420.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.loc[modified_indices] = df.loc[modified_indices].applymap(

In [218]:
df.shape

(6315408, 20)

In [219]:
df.groupby('clustered_pu_time')[['passenger_count','fare_amount']].mean()

                   passenger_count  fare_amount
clustered_pu_time
0                         1.573914    13.641899
1                         1.585816    13.338270
2                         1.580358    12.833190
3                         1.590160    12.400564
4                         1.588138    12.226620
5                         1.588578    12.213441
6                         1.584286    12.708039
7                         1.587840    13.307787
8                         1.581440    14.440278
9                         1.516739    16.680527
10                        1.484195    18.871294
11                        1.414788    15.815101
12                        1.394042    14.683947
13                        1.384064    12.386677
14                        1.415658    12.323368
15                        1.449715    11.827280
16                        1.459045    12.007917
17                        1.444190    11.921482
18                        1.453513    12.130500
19                        1.469794    11.943652
20                        1.487157    12.118563
21                        1.494452    11.909698
22                        1.502566    11.958092
23                        1.501036    11.709883
24                        1.499923    11.973688
25                        1.499114    12.047170
26                        1.506932    12.438688
27                        1.514288    12.642651
28                        1.512194    13.054979
29                        1.509484    12.857314
30                        1.525749    12.960961
31                        1.522413    12.962371
32                        1.516319    13.367579
33                        1.513260    13.021938
34                        1.514602    12.762533
35                        1.523703    12.295366
36                        1.518569    12.218131
37                        1.525825    11.975056
38                        1.525689    11.947093
39                        1.529518    12.074154
40                        1.530690    12.578978
41                        1.540043    12.782984
42                        1.552256    12.813736
43                        1.565111    12.630247
44                        1.566253    12.882045
45                        1.572005    13.253568
46                        1.569493    13.346159
47                        1.570947    13.308290

## 9.For each payment type and each interval, determine the average fare amount

In [221]:
df.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean()

payment_type  clustered_pu_time
1.0           0                    13.869967
              1                    13.473889
              2                    12.826201
              3                    12.358273
              4                    12.011305
                                     ...
4.0           43                   15.833086
              44                   13.521681
              45                   15.444021
              46                   14.062548
              47                   14.591266
Name: fare_amount, Length: 192, dtype: float64

## 10.For each payment type, determine the interval when the average fare amount is maximum

In [233]:
avg_fare = df.groupby(['payment_type', 'clustered_pu_time'])['fare_amount'].mean().reset_index()
avg_fare.loc[avg_fare.groupby('payment_type')['fare_amount'].idxmax()]

     payment_type  clustered_pu_time  fare_amount
10            1.0                 10    21.258702
58            2.0                 10    14.971038
105           3.0                  9    16.724592
154           4.0                 10    24.230667

## 11.For each payment type, determine the interval when the overall ratio between the tip and the fare amounts is maximum

In [235]:
df['overall_ratio']=df['tip_amount']/df['fare_amount']

In [236]:

overall_ratio = df.groupby(['payment_type', 'clustered_pu_time'])['overall_ratio'].mean().reset_index()
overall_ratio = overall_ratio[overall_ratio['overall_ratio'].notnull()]
overall_ratio.loc[overall_ratio.groupby('payment_type')['overall_ratio'].idxmax()]

     payment_type  clustered_pu_time  overall_ratio
0             1.0                  0            inf
66            2.0                 18       0.000051
138           3.0                 42       0.028968
164           4.0                 20       0.002337

In [237]:
#secondo me vuole questo

# Raggruppa per tipo di pagamento e clustered time, calcolando la somma delle mance e delle corse
overall_ratio = df.groupby(['payment_type', 'clustered_pu_time']).agg(
    total_tip_amount=('tip_amount', 'sum'),
    total_fare_amount=('fare_amount', 'sum')
).reset_index()

# Calcola il rapporto tra la somma delle mance e la somma degli importi delle corse
overall_ratio['overall_ratio'] = overall_ratio['total_tip_amount'] / overall_ratio['total_fare_amount']

# Filtra le righe con valori non nulli per il rapporto
overall_ratio = overall_ratio[overall_ratio['overall_ratio'].notnull()]

# Trova il massimo rapporto per ogni tipo di pagamento
max_overall_ratio = overall_ratio.loc[overall_ratio.groupby('payment_type')['overall_ratio'].idxmax()]

# Visualizza il risultato
max_overall_ratio

,payment_type,clustered_pu_time,total_tip_amount,total_fare_amount,overall_ratio
37,1.0,37,485543.67,1998355.20,0.242972
68,2.0,20,22.88,453651.77,0.000050
138,3.0,42,41.65,7623.82,0.005463
164,4.0,20,3.95,2088.02,0.001892

## 12.Find the location with the highest average fare amount

In [239]:
avg_fare_loc=df.groupby(['PULocationID'])['fare_amount'].mean()
avg_fare_loc.idxmax()

204

## 13.Build a new dataframe (called common) where, for each pickup location we keep all trips to the 5 most common destinations (i.e. each pickup location can have different common destinations).

In [241]:
trip_counts = df.groupby(['PULocationID', 'DOLocationID']).size().reset_index(name='trip_count')

In [244]:
top_destinations = trip_counts.sort_values(['PULocationID', 'trip_count'], ascending=[True, False])

In [245]:
top_5_destinations = top_destinations.groupby('PULocationID').head(5)
top_5_destinations=top_5_destinations.reset_index()
top_5_destinations=top_5_destinations.drop('index', axis=1)
top_5_destinations

      PULocationID  DOLocationID  trip_count
0                1             1         629
1                1           264         104
2                1           265           4
3                1           138           2
4                1            50           1
...            ...           ...         ...
1255           265           265        2450
1256           265           264         305
1257           265             1          76
1258           265            48          18
1259           265           132           8

[1260 rows x 3 columns]

In [246]:
common = df.merge(top_5_destinations[['PULocationID', 'DOLocationID']], on=['PULocationID', 'DOLocationID'], how='inner')

In [247]:
common

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,clustered_pu_time,overall_ratio
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,...,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,0,0.245000
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,...,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,1,0.214286
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,...,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,1,0.166667
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,...,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,1,0.247273
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,...,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1944439,2.0,2020-01-31 23:36:08,2020-01-31 23:43:18,1.0,1.79,1.0,N,68,48,1.0,...,0.5,0.5,3.39,0.0,0.3,14.69,2.5,0 days 00:07:10,47,0.452000
1944440,2.0,2020-02-01 00:00:37,2020-02-01 00:11:59,1.0,1.18,1.0,N,186,170,1.0,...,0.5,0.5,2.46,0.0,0.3,14.76,2.5,0 days 00:11:22,0,0.289412
1944441,2.0,2020-01-31 22:59:01,2020-01-31 23:06:15,3.0,0.90,1.0,N,238,239,2.0,...,0.5,0.5,0.00,0.0,0.3,10.30,2.5,0 days 00:07:14,45,0.000000
1944442,2.0,2020-01-31 23:44:34,2020-01-31 23:47:46,3.0,0.80,1.0,N,141,141,2.0,...,0.5,0.5,0.00,0.0,0.3,8.30,2.5,0 days 00:03:12,47,0.000000
1944443,2.0,2020-01-31 23:01:38,2020-01-31 23:05:49,1.0,0.74,1.0,N,48,142,1.0,...,0.5,0.5,1.76,0.0,0.3,10.56,2.5,0 days 00:04:11,46,0.352000

## 14.On the common dataframe, for each payment type and each interval, determine the average fare amount

In [250]:
common.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean()

payment_type  clustered_pu_time
1.0           0                     8.545531
              1                     8.638282
              2                     8.480181
              3                     7.964273
              4                     7.928883
                                     ...
4.0           43                   13.902857
              44                    9.250238
              45                   11.558966
              46                    7.146154
              47                    8.790943
Name: fare_amount, Length: 192, dtype: float64

## 15.Compute the difference of the average fare amount computed in the previous point with those computed at point 9.

In [252]:
common.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean()-df.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean()

payment_type  clustered_pu_time
1.0           0                   -5.324436
              1                   -4.835607
              2                   -4.346020
              3                   -4.394001
              4                   -4.082422
                                     ...
4.0           43                  -1.930229
              44                  -4.271443
              45                  -3.885056
              46                  -6.916394
              47                  -5.800322
Name: fare_amount, Length: 192, dtype: float64

## 16.Compute the ratio between the differences computed in the previous point and those computed in point 9. Note: you have to compute a ratio for each pair (payment type, interval).

In [254]:
(common.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean()-df.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean())/df.groupby(['payment_type','clustered_pu_time'])['fare_amount'].mean()

payment_type  clustered_pu_time
1.0           0                   -0.383882
              1                   -0.358887
              2                   -0.338839
              3                   -0.355551
              4                   -0.339882
                                     ...
4.0           43                  -0.121911
              44                  -0.315896
              45                  -0.251557
              46                  -0.491831
              47                  -0.397520
Name: fare_amount, Length: 192, dtype: float64

## 17.Build chains of trips. Two trips are consecutive in a chain if (a) they have the same VendorID, (b) the pickup location of the second trip is also the dropoff location of the first trip, (c) the pickup time of the second trip is after the dropoff time of the first trip, and (d) the pickup time of the second trip is at most 2 minutes later than the dropoff time of the first trip.

Hint: Add a column chain to the dataset. A chain can have more than two trips.

In [260]:
new=df.sort_values(['VendorID','tpep_pickup_datetime','tpep_dropoff_datetime']).reset_index(drop=True)

In [262]:
new.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,clustered_pu_time,overall_ratio
0,1.0,2020-01-01 00:00:00,2020-01-01 00:13:03,1.0,2.2,1.0,N,68,170,1.0,...,3.0,0.5,2.85,0.00,0.3,17.15,2.5,0 days 00:13:03,0,0.271429
1,1.0,2020-01-01 00:00:03,2020-01-01 00:13:04,2.0,3.0,1.0,N,79,162,1.0,...,3.0,0.5,2.00,0.00,0.3,17.30,2.5,0 days 00:13:01,0,0.173913
2,1.0,2020-01-01 00:00:05,2020-01-01 00:26:30,0.0,3.4,1.0,N,264,68,1.0,...,3.0,0.5,4.35,0.00,0.3,26.15,2.5,0 days 00:26:25,0,0.241667
3,1.0,2020-01-01 00:00:07,2020-01-01 00:03:26,3.0,0.6,1.0,N,75,75,2.0,...,0.5,0.5,0.00,0.00,0.3,5.80,0.0,0 days 00:03:19,0,0.000000
4,1.0,2020-01-01 00:00:25,2020-01-01 00:05:59,1.0,1.7,1.0,N,145,179,2.0,...,0.5,0.5,0.00,0.00,0.3,8.30,0.0,0 days 00:05:34,0,0.000000
5,1.0,2020-01-01 00:00:26,2020-01-01 00:08:31,4.0,1.1,1.0,N,113,107,1.0,...,3.0,0.5,20.00,0.00,0.3,30.80,2.5,0 days 00:08:05,0,2.857143
6,1.0,2020-01-01 00:00:41,2020-01-01 00:16:23,0.0,2.2,1.0,N,90,4,1.0,...,3.0,0.5,3.80,0.00,0.3,19.10,2.5,0 days 00:15:42,0,0.330435
7,1.0,2020-01-01 00:00:48,2020-01-01 00:24:26,2.0,11.7,1.0,N,132,188,2.0,...,0.5,0.5,0.00,0.00,0.3,34.80,0.0,0 days 00:23:38,0,0.000000
8,1.0,2020-01-01 00:00:49,2020-01-01 00:39:52,1.0,9.9,1.0,N,107,244,1.0,...,3.0,0.5,8.05,0.00,0.3,48.35,2.5,0 days 00:39:03,0,0.220548
9,1.0,2020-01-01 00:00:50,2020-01-01 00:02:32,2.0,0.3,1.0,N,158,158,2.0,...,3.0,0.5,0.00,0.00,0.3,7.30,2.5,0 days 00:01:42,0,0.000000
10,1.0,2020-01-01 00:00:57,2020-01-01 00:15:21,1.0,2.6,1.0,N,79,13,1.0,...,3.0,0.5,3.15,0.00,0.3,18.95,2.5,0 days 00:14:24,0,0.262500
11,1.0,2020-01-01 00:00:59,2020-01-01 00:22:31,2.0,12.2,1.0,N,88,119,2.0,...,3.0,0.5,0.00,0.00,0.3,37.30,2.5,0 days 00:21:32,0,0.000000
12,1.0,2020-01-01 00:01:01,2020-01-01 00:04:46,1.0,0.5,1.0,N,236,236,2.0,...,3.0,0.5,0.00,0.00,0.3,8.30,2.5,0 days 00:03:45,0,0.000000
13,1.0,2020-01-01 00:01:01,2020-01-01 00:11:51,1.0,1.0,1.0,N,249,79,1.0,...,3.0,0.5,1.00,0.00,0.3,12.80,2.5,0 days 00:10:50,0,0.125000
14,1.0,2020-01-01 00:01:07,2020-01-01 00:15:50,1.0,8.1,1.0,N,138,15,1.0,...,0.5,0.5,3.00,0.00,0.3,27.80,0.0,0 days 00:14:43,0,0.127660
15,1.0,2020-01-01 00:01:14,2020-01-01 00:36:40,1.0,9.6,1.0,N,166,173,1.0,...,3.0,0.5,5.00,0.00,0.3,39.80,2.5,0 days 00:35:26,0,0.161290
16,1.0,2020-01-01 00:01:15,2020-01-01 00:09:42,1.0,1.0,1.0,N,249,79,1.0,...,2.5,0.5,2.05,0.00,0.3,12.35,2.5,0 days 00:08:27,0,0.292857
17,1.0,2020-01-01 00:01:17,2020-01-01 00:23:50,1.0,17.4,2.0,N,132,74,1.0,...,0.0,0.5,14.70,6.12,0.3,73.62,0.0,0 days 00:22:33,0,0.282692
18,1.0,2020-01-01 00:01:21,2020-01-01 00:05:47,1.0,0.9,1.0,N,231,87,1.0,...,3.0,0.5,1.86,0.00,0.3,11.16,2.5,0 days 00:04:26,0,0.338182
19,1.0,2020-01-01 00:01:21,2020-01-01 00:12:01,2.0,1.4,1.0,N,79,234,1.0,...,3.0,0.5,2.45,0.00,0.3,14.75,2.5,0 days 00:10:40,0,0.288235

In [263]:
new['chain'] = None
piccolo=new.head(50000)

In [ ]:
from datetime import timedelta

In [ ]:
# Inizializzazione della variabile 'chain' e del dizionario per memorizzare i dati
location_info = {}

# Assegna il valore 1 alla prima corsa
piccolo.loc[0, 'chain'] = 1
location_info[1] = {
    'tpep_dropoff_datetime': piccolo.loc[0, 'tpep_dropoff_datetime'],
    'DOLocationID': piccolo.loc[0, 'DOLocationID'],
    'VendorID': piccolo.loc[0, 'VendorID']
}

# Variabile per gestire il numero della catena
current_chain_value = 1

# Itera sulle osservazioni a partire dalla seconda
for i in range(1, len(piccolo)):
    pickup_time = piccolo.loc[i, 'tpep_pickup_datetime']
    pickup_location = piccolo.loc[i, 'PULocationID']
    current_vendor = piccolo.loc[i, 'VendorID']
    
    # Flag per indicare se è stata trovata una chain esistente
    chain_found = False
    
    # Controlla tutte le chain esistenti
    for chain_id, info in location_info.items():
        dropoff_time = info['tpep_dropoff_datetime']
        dropoff_location = info['DOLocationID']
        vendor = info['VendorID']

        # Verifica se la corsa attuale si collega a questa chain senza sovrapposizioni
        if (
            (timedelta(0) < (pickup_time - dropoff_time) <= timedelta(minutes=2)) and
            (pickup_location == dropoff_location) and
            (current_vendor == vendor)
        ):
            # Assegna alla corsa attuale la stessa chain_id
            piccolo.loc[i, 'chain'] = chain_id
            # Aggiorna le informazioni della chain
            location_info[chain_id] = {
                'tpep_dropoff_datetime': piccolo.loc[i, 'tpep_dropoff_datetime'],
                'DOLocationID': piccolo.loc[i, 'DOLocationID'],
                'VendorID': piccolo.loc[i, 'VendorID']
            }
            chain_found = True
            break
    
    # Se non è stata trovata nessuna chain compatibile, crea una nuova chain
    if not chain_found:
        current_chain_value += 1
        piccolo.loc[i, 'chain'] = current_chain_value
        location_info[current_chain_value] = {
            'tpep_dropoff_datetime': piccolo.loc[i, 'tpep_dropoff_datetime'],
            'DOLocationID': piccolo.loc[i, 'DOLocationID'],
            'VendorID': piccolo.loc[i, 'VendorID']
        }

# Il dataframe 'piccolo' ora ha la colonna 'chain' popolata correttamente senza sovrapposizioni temporali

In [134]:
piccolo[['tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID', 'DOLocationID', 'chain']].sort_values(['chain','tpep_pickup_datetime']).head(20)

,tpep_pickup_datetime,tpep_dropoff_datetime,PULocationID,DOLocationID,chain
0,2020-01-01 00:00:00,2020-01-01 00:13:03,68,170,None
1,2020-01-01 00:00:03,2020-01-01 00:13:04,79,162,None
2,2020-01-01 00:00:05,2020-01-01 00:26:30,264,68,None
3,2020-01-01 00:00:07,2020-01-01 00:03:26,75,75,None
4,2020-01-01 00:00:25,2020-01-01 00:05:59,145,179,None
5,2020-01-01 00:00:26,2020-01-01 00:08:31,113,107,None
6,2020-01-01 00:00:41,2020-01-01 00:16:23,90,4,None
7,2020-01-01 00:00:48,2020-01-01 00:24:26,132,188,None
8,2020-01-01 00:00:49,2020-01-01 00:39:52,107,244,None
9,2020-01-01 00:00:50,2020-01-01 00:02:32,158,158,None
10,2020-01-01 00:00:57,2020-01-01 00:15:21,79,13,None
11,2020-01-01 00:00:59,2020-01-01 00:22:31,88,119,None
12,2020-01-01 00:01:01,2020-01-01 00:04:46,236,236,None
13,2020-01-01 00:01:01,2020-01-01 00:11:51,249,79,None
14,2020-01-01 00:01:07,2020-01-01 00:15:50,138,15,None
15,2020-01-01 00:01:14,2020-01-01 00:36:40,166,173,None
16,2020-01-01 00:01:15,2020-01-01 00:09:42,249,79,None
17,2020-01-01 00:01:17,2020-01-01 00:23:50,132,74,None
18,2020-01-01 00:01:21,2020-01-01 00:05:47,231,87,None
19,2020-01-01 00:01:21,2020-01-01 00:12:01,79,234,None

In [ ]:
## attempt diverso

In [ ]:
new['chain'] = None

In [128]:
from datetime import timedelta

In [130]:
piccolo1=new[new['VendorID']==1.0]
piccolo1.shape

(2093843, 22)

In [132]:
piccolo2=new[new['VendorID']==2.0]
piccolo2.shape

(4221566, 22)

In [148]:
piccolo=piccolo1.reset_index(drop=True)
colonne_desiderate = ['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'PULocationID', 'DOLocationID', 'chain']
piccolo = piccolo[colonne_desiderate]
piccolo.head()

  tpep_pickup_datetime tpep_dropoff_datetime  PULocationID  DOLocationID chain
0  2020-01-01 00:00:00   2020-01-01 00:13:03            68           170  None
1  2020-01-01 00:00:03   2020-01-01 00:13:04            79           162  None
2  2020-01-01 00:00:05   2020-01-01 00:26:30           264            68  None
3  2020-01-01 00:00:07   2020-01-01 00:03:26            75            75  None
4  2020-01-01 00:00:25   2020-01-01 00:05:59           145           179  None

In [152]:
%%time
# Inizializzazione della variabile 'chain' e del dizionario per memorizzare i dati
location_info = {}

# Assegna il valore 1 alla prima corsa
piccolo.loc[0, 'chain'] = 1
location_info[1] = {
    'DOLocationID': piccolo.loc[0, 'DOLocationID'],
    'tpep_dropoff_datetime': piccolo.loc[0, 'tpep_dropoff_datetime']
}

# Variabile per gestire il numero della catena
current_chain_value = 1

# Itera sulle osservazioni a partire dalla seconda
for i in range(1, len(piccolo)):
    
    pickup_location = piccolo.loc[i, 'PULocationID']
    pickup_time = piccolo.loc[i, 'tpep_pickup_datetime']
    
    # Flag per indicare se è stata trovata una chain esistente
    chain_found = False
    
    # Controlla tutte le chain esistenti
    for chain_id, info in location_info.items():
        
        dropoff_location = info['DOLocationID']
        dropoff_time = info['tpep_dropoff_datetime']

        # Verifica se la corsa attuale si collega a questa chain senza sovrapposizioni
        if (
            (pickup_location == dropoff_location) and  
            (timedelta(0) < (pickup_time - dropoff_time) <= timedelta(minutes=2)) 
        ):
            # Assegna alla corsa attuale la stessa chain_id
            piccolo.loc[i, 'chain'] = chain_id
            # Aggiorna le informazioni della chain
            location_info[chain_id] = {
                
                'DOLocationID': piccolo.loc[i, 'DOLocationID'],
                'tpep_dropoff_datetime': piccolo.loc[i, 'tpep_dropoff_datetime']
            }
            chain_found = True
            break
    
    # Se non è stata trovata nessuna chain compatibile, crea una nuova chain
    if not chain_found:
        current_chain_value += 1
        piccolo.loc[i, 'chain'] = current_chain_value
        location_info[current_chain_value] = {
            
            'DOLocationID': piccolo.loc[i, 'DOLocationID'],
            'tpep_dropoff_datetime': piccolo.loc[i, 'tpep_dropoff_datetime']
        }

KeyboardInterrupt:

In [153]:
piccolo.sort_values(['chain','tpep_pickup_datetime'])

,tpep_pickup_datetime,tpep_dropoff_datetime,PULocationID,DOLocationID,chain
0,2020-01-01 00:00:00,2020-01-01 00:13:03,68,170,1
538,2020-01-01 00:13:28,2020-01-01 00:31:48,170,239,1
1869,2020-01-01 00:31:54,2020-01-01 01:42:07,239,25,1
7330,2020-01-01 01:43:32,2020-01-01 01:43:32,25,264,1
7401,2020-01-01 01:44:43,2020-01-01 02:08:36,264,264,1
...,...,...,...,...,...
2093838,2020-01-31 23:59:54,2020-02-01 00:05:56,256,232,None
2093839,2020-01-31 23:59:57,2020-02-01 00:14:07,230,68,None
2093840,2020-01-31 23:59:57,2020-02-01 00:37:50,79,255,None
2093841,2020-01-31 23:59:59,2020-02-01 00:10:56,107,263,None
2093842,2020-01-31 23:59:59,2020-02-01 00:40:07,79,61,None

In [172]:
piccolo['chain'].value_counts()

chain
12121    25
26375    24
31341    23
16048    23
1253     23
         ..
17363     1
17360     1
17359     1
17357     1
36492     1
Name: count, Length: 36492, dtype: int64

In [ ]:
piccolo[piccolo['chain']==178]

In [140]:
piccolo=piccolo1.head(50000).reset_index(drop=True)
colonne_desiderate = ['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'PULocationID', 'DOLocationID', 'chain']
piccolo = piccolo[colonne_desiderate]
piccolo.head()

  tpep_pickup_datetime tpep_dropoff_datetime  PULocationID  DOLocationID chain
0  2020-01-01 00:00:00   2020-01-01 00:13:03            68           170  None
1  2020-01-01 00:00:03   2020-01-01 00:13:04            79           162  None
2  2020-01-01 00:00:05   2020-01-01 00:26:30           264            68  None
3  2020-01-01 00:00:07   2020-01-01 00:03:26            75            75  None
4  2020-01-01 00:00:25   2020-01-01 00:05:59           145           179  None

In [ ]:
#non mi piace
import numpy as np
from datetime import timedelta

# Inizializzazione della variabile 'chain' e del dizionario per memorizzare i dati
location_info = {}

# Array NumPy per memorizzare i valori della colonna 'chain'
chain_array = np.zeros(len(piccolo), dtype=int)

# Assegna il valore 1 alla prima corsa
chain_array[0] = 1
location_info[1] = {
    'tpep_dropoff_datetime': piccolo.iloc[0]['tpep_dropoff_datetime'],
    'DOLocationID': piccolo.iloc[0]['DOLocationID']
}

# Variabile per gestire il numero della catena
current_chain_value = 1

# Itera sulle osservazioni usando itertuples() per velocità
for i, row in enumerate(piccolo.itertuples(index=False), start=0):
    if i == 0:
        continue

    pickup_time = row.tpep_pickup_datetime
    pickup_location = row.PULocationID
    
    # Flag per indicare se è stata trovata una chain esistente
    chain_found = False

    # Controlla tutte le chain esistenti
    for chain_id, info in location_info.items():
        dropoff_time = info['tpep_dropoff_datetime']
        dropoff_location = info['DOLocationID']

        # Verifica se la corsa attuale si collega a questa chain senza sovrapposizioni
        if (
            (timedelta(0) < (pickup_time - dropoff_time) <= timedelta(minutes=2)) and
            (pickup_location == dropoff_location)
        ):
            # Assegna alla corsa attuale la stessa chain_id
            chain_array[i] = chain_id
            # Aggiorna le informazioni della chain
            location_info[chain_id] = {
                'tpep_dropoff_datetime': row.tpep_dropoff_datetime,
                'DOLocationID': row.DOLocationID
            }
            chain_found = True
            break

    # Se non è stata trovata nessuna chain compatibile, crea una nuova chain
    if not chain_found:
        current_chain_value += 1
        chain_array[i] = current_chain_value
        location_info[current_chain_value] = {
            'tpep_dropoff_datetime': row.tpep_dropoff_datetime,
            'DOLocationID': row.DOLocationID
        }

# Aggiungi i valori della colonna 'chain' al dataframe
piccolo['chain'] = chain_array

In [ ]:
piccolo[['tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID', 'DOLocationID', 'chain']].sort_values(['chain','tpep_pickup_datetime']).head(40)